<h1>Listing students {{ctrl.test}}</h1>

<table>
  <tr>
    <th>Name</th>
    <th>FavoriteMovie</th>
  </tr>

  <tr ng-repeat='student in ctrl.students'>
    <td>{{ student.name }}</td>
    <td>{{ student.movie }}</td>
  </tr>
</table>
